
    <footer class="pt-4 px-3 pt-md-5 border-top bg-primary text-white">
        <div class="row">
            <div class="col-12 col-md">
            <small class="d-block mb-3 text-light">&copy; 2020 </small>
            </div>
            <div class="col-6 col-md">
            <h5>About Us</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-light" href="#">Catalog</a></li>
                <li><a class="text-light" href="#">Discount and Sales</a></li>
                <li><a class="text-light" href="#">Shipping and delivery</a></li>
            </ul>
            </div>
            <div class="col-6 col-md">
            <h5>Contact Us</h5>
            <ul class="list-unstyled text-small">
                <address>
                    <ul class="list-unstyled">
                        <li>CaptainConsole</li>
                        <li>+354 123 4567</li>
                        <li>Laugarvegi</li>
                        <li>Reykjavik</li>
                        <li>Iceland</li>
                    </ul>
                </address>
            </ul>
            </div>
            <div class="col-6 col-md">
            <h5>Terms and Policies</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-light" href="#">Locations</a></li>
                <li><a class="text-light" href="#">Privacy</a></li>
                <li><a class="text-light" href="#">Terms</a></li>
            </ul>
            </div>
        </div>
    </footer>