<form method="GET" action="{{ request.get_full_path }}" class="form_sort">
    <div class="card-body">
        <label class="form-check">
            <input class="form-check-input" type="radio" name="sort_by" value="name_desc">
            <span class="form-check-label">
                Name (descending)
            </span>
        </label>
        <label class="form-check">
            <input class="form-check-input" type="radio" name="sort_by" value="name_asc">
            <span class="form-check-label">
                Name (ascending)
            </span>
        </label>
        <label class="form-check">
            <input class="form-check-input" type="radio" name="sort_by" value="price_desc">
            <span class="form-check-label">
                Price (highest)
            </span>
        </label>
        <label class="form-check">
            <input class="form-check-input" type="radio" name="sort_by" value="price_asc">
            <span class="form-check-label">
                Price (lowest)
            </span>
        </label>
        <button type="submit" class="btn btn-warning">Sort</button>
    </div> <!-- card-body.// -->
</form>
<form method="get" action="search_history">
    <div class="card-body">
        <button type="submit">
            Search history
        </button>
    </div>
</form>
