{% extends '../base.html' %}

<!--    Page breadcrumbs (removed)      -->
{% block breadcrumbs %}
{% endblock breadcrumbs %}


<!--    Page content      -->
{% block content %}
<main class="container">
    
    <h2>Login </h2>

    <section class="container"></section>

        <form method="POST" action="">
            {% csrf_token %}
            <!-- Login form -->

            <!-- USERNAME  -->
            <fieldset class="form-group row">
                <label for="{{ form.username.id_for_label }}" class="col-sm-2 col-form-label">Username:</label>
                {{form.username}}
            </fieldset>

            <!-- PASSWORD (I have no clue why the input does not accept the style) -->
            <fieldset class="form-group row">
                <label for="{{ form.password.id_for_label }}" class="col-sm-2 col-form-label">Password: </label>
                {{form.password}}
            </fieldset>
        
            <!-- SUMBIT  -->
            <input type="submit" class="btn btn-success mb-3" name="Login" value="Login">
        </form>

    <!-- REGISTER IF NO ACCOUNT -->
    <a href="/register" class="btn btn-primary mb-3">Dont have an account?</a>
    </section>

</main>
{% endblock content %}