{% extends '../base.html' %}

<!--    Page breadcrumbs (removed)      -->
{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'cart' %}" class="text-white">Cart</a></li>
    <li class="breadcrumb-item"><a href="{% url 'checkout' order.id %}" class="text-white">Checkout</a></li>
    <li class="breadcrumb-item"><a href="{% url 'review' order.id %}" class="text-white">Review</a></li>
{% endblock breadcrumbs %}


<!--    Page content      -->
{% block content %}
<main class="container pt-4">
    <section class="container">
    {% if not order.status == 'C' %}
        <div class="row">
            <div class="col">
                <h1>Thank you for ordering</h1>
                <p>Your order is on it's way</p>
            </div>
        </div>
    {% endif %}
    <!-- LIST OF PRODUCTS IN CART  -->
    <div class="row">
        <div class="col">
            <ul class="list-group mb-3 z-depth-1">
                <li class="list-group-item">
                    <h5>Products:</h5>
                </li>
                {% for item in items %}
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">{{ item.quantity }} x {{ item.product }}</h6>
                    </div>
                    <div>
                        <span>${{ item.product.price }}</span>
                    </div>
                </li>
                {% endfor %}
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (USD)</span>
                    <strong>${{ order.getTotal }}</strong>
                </li>
            </ul>
        </div>
        <div class="col">
            <ul class="list-group mb-3 z-depth-1">
                <li class="list-group-item">
                    <h5>Shipping address:</h5>
                </li>
                <li class="list-group-item">
                    Street: {{ address.street }}
                </li>
                <li class="list-group-item">
                    Postal code: {{ address.postalCode }}
                </li>
                <li class="list-group-item">
                    City: {{ address.city }}
                </li>
                <li class="list-group-item">
                    Country: {{ address.country }}
                </li>
            </ul>
            <ul class="list-group mb-3 z-depth-1">
                <li class="list-group-item">
                    <h5>Payment:</h5>
                </li>
                <li class="list-group-item">
                    Card number: **** **** **** {{ payment.getLastFour }}
                </li>
                <li class="list-group-item">
                    Name on card: {{ payment.cardName }}
                </li>
                <li class="list-group-item">
                    CVC: {{ payment.cardCVC }}
                </li>
                <li class="list-group-item">
                    Expiration: {{ payment.cardExp }}
                </li>
            </ul>
        </div>
    </div>
    <!-- PROCEED TO CHECKOUT  -->
    {% if order.status == 'C' %}
        <form method="post">
            {% csrf_token %}
            <button class="btn btn-primary btn-lg btn-block" type="submit">Confirm and pay</button>
        </form>
    {% endif %}
    </section>
</main>
{% endblock content %}