{% extends '../base.html' %}
{% load static %}
<!--    Page title      -->
{% block head_title %}
    {{ object.name }}
{% endblock head_title %}

<!--    FACEBOOK SHARE DETAILS      -->

<!--    Page content      -->
{% block content %}

    <main class="container">
        <h2 class="h2">{{ object.name }}</h2>
        <!-- THE IMAGES 
            bootstrap reference: https://getbootstrap.com/docs/4.1/components/list-group/#javascript-behavior
        -->
        <section class="container row" >
            <!-- IF GALLERY CONTAINS MORE THAN SINGLE IMAGE -->
            {% if object.gallery|length > 1 %}

                <div class="col-10">
                    <div class="tab-content text-center" id="nav-tabContent">

                        {% for image in object.gallery %}                       
                            <div class="tab-pane fade" id="image-{{image.id}}" role="tabpanel" aria-labelledby="image-{{image.id}}-list">
                                    <img src="{{image.image.url}}" alt="" class="img-fluid border border-light rounded shadow-sm">      
                            </div>

                        {% endfor %}
                    </div>
                </div>
                <div class="col-2">
                    <div class="list-group" id="list-tab" role="tablist">

                        {% for image in object.gallery %}    
                            <a class="list-group-item list-group-item-action" id="image-{{image.id}}-list" data-toggle="list" href="#image-{{image.id}}" role="tab" aria-controls="profile">
                                <img src="{{image.image.url}}" alt="" class="img-thumbnail border border-light rounded shadow-sm my-2">
                            </a>

                        {% endfor %}
                    </div>
                </div>
            {% else %}
            <!-- ELSE DISPLAY SINGLE IMAGE -->
                <div class="container text-center">
                    {% for image in object.gallery %}
                    <img src="{{image.image.url}}" alt="" class="border border-light rounded shadow-sm">
                    {% endfor %}
                </div>
            {% endif %}
        </section> 
        <hr>
        <!-- THE DETAILS-->
        <section>
                <!-- PRICE -->
                <div class="container">
                    <h3 class="h5 d-inline">Price:</h3>
                    <span>{{object.product.price}}</span>         
                    <div class="row">
                        <input type="submit" class="btn btn-light col-6 border border-primary" value="Add to cart">
                        <div class="fb-share-button col-6" data-href="{{ request.build_absolute_uri }} " data-layout="button" data-size="small">
                            <a  class="btn btn-light col-12 border border-primary" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}};src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a>
                        </div>
  
                    </div>
                </div>
            
                <hr>
                <!-- DESCRIPTION -->
                <div class="container">
                    <h3 class="h5">Description</h3>
                    <p>{{object.product.description}}</p>
                </div>
        </section>
        <hr>
        <!-- THE SEARCH/PRODUCTS VIEWED HISTORY -->
        <h2 class="h3">Recently Viewed Products</h2>
        <section>
            <!-- CAROUSEL / LIST OF RECENTLY VIEWED PRODUCTS-->
        </section>
    </main>

{% endblock content %}