{% extends '../base.html' %}
{% load static %}
<!--    Page title      -->
{% block head_title %}
    {{ object.name }}
{% endblock head_title %}

<!--    FACEBOOK SHARE DETAILS      -->

<!--    Page content      -->
{% block content %}
    <main class="pt-3 align-content-center d-flex flex-column">
        <h2 class="h2">{{ object.name }}</h2>
        <!-- THE IMAGES 
            bootstrap reference: https://getbootstrap.com/docs/4.1/components/list-group/#javascript-behavior
        -->
        <section class="container col-8" >
            <!-- IF GALLERY CONTAINS MORE THAN SINGLE IMAGE -->
            <div class="row">

                {% if object.gallery|length > 1 %}
                    <!-- BIG PICTURE -->
                    <div class="col-xl-10 col-md-12">
                        <div class="tab-content text-center" id="nav-tabContent">

                            {% for image in object.gallery %}                       
                                <div class="tab-pane fade {% if forloop.first %} active show{% endif %}" id="image-{{image.id}}" role="tabpanel" aria-labelledby="image-{{image.id}}-list">
                                        <img src="{{image.image.url}}" alt="" class="img-fluid border border-primary rounded shadow-sm">      
                                </div>

                            {% endfor %}
                        </div>
                    </div>

                    <!-- THUMBNAILS -->
                    <div class="col-xl-2 col-sm-4 d-md-flex">
                        <div class="list-group" id="list-tab" role="tablist">

                            {% for image in object.gallery %}    
                                <a class="list-group-item list-group-item-action border-secondary {% if forloop.first %}active{% endif %}" id="image-{{image.id}}-list" data-toggle="list" href="#image-{{image.id}}" role="tab" aria-controls="profile">
                                    <img src="{{image.image.url}}" alt="" class="img-thumbnail border border-primary rounded shadow-sm my-2">
                                </a>

                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                <!-- ELSE DISPLAY SINGLE IMAGE -->
                    <div class="container text-center">
                        {% for image in object.gallery %}
                        <img src="{{image.image.url}}" alt="" class=" img-fluid border border-light rounded shadow-sm">
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </section> 
        <!-- THE DETAILS-->
        <section class="container">
            <ul class="list-group-flush col-lg-8 col-md-12">
                <!-- PRICE -->
                <li class="list-group-item">
                    <h3 class="h5 d-inline">Price:</h3>
                    <span>{{object.product.price}}</span>
                </li>

                <!--    ADD TO CART -->  
                <li class="list-group-item"> 
                    <form  method="POST" class="form-inline" action="{% url 'add_to_cart' object.product.id %}">
                        {% csrf_token %}
                        <fieldset>
                            <label for="{{ object.add_to_cart_form.quantity.id_for_label }}" class=" form-label" hidden>
                                Quantity
                            </label>
                            {{ add_to_cart_form.quantity }}
                            <input type="submit" class="btn btn-secondary border border-warning" value="Add to cart">
                        </fieldset>
                    </form>
                </li>

                <!--    FACEBOOK SHARE -->
                <li class="list-group-item">
                    <div class="fb-share-button" data-href="{{ request.build_absolute_uri }} " data-layout="button" data-size="small">
                        <a  class="btn btn-secondary col-12 border border-warning" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}};src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a>
                    </div>
                </li>

                <!-- DESCRIPTION -->
                <li class="list-group-item">
                    <h3 class="h5">Description</h3>
                    <p>{{object.product.description}}</p>
                </li>
            </div>

        </section>
        <hr>
        <!-- THE SEARCH/PRODUCTS VIEWED HISTORY -->
        <h2 class="h3">Recently Viewed Products</h2>
        <section>
            <!-- CAROUSEL / LIST OF RECENTLY VIEWED PRODUCTS-->
        </section>
    </main>

{% endblock content %}