{% extends '../base.html' %}

<!--    Page title      -->
{% block head_title %}
    {{ object.name }}
{% endblock head_title %}

<!--    Page content      -->
{% block content %}
    <div class="container">
        <h2 class="h2">{{ object.name }}</h2>
        <section class="row">
            <div class="col-6">

                <img src="..." class="img-fluid" alt="Responsive image">


            </div>
            <div clas="col">
                    <img src="..." alt="..." class="img-thumbnail">
                    <img src="..." alt="..." class="img-thumbnail">
                    <img src="..." alt="..." class="img-thumbnail">
            </div>

        </section>
    </div>

{% endblock content %}