{% extends '../base.html' %}
{% load mptt_tags %}

<!--    Page content      -->

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
               <li class="breadcrumb-item"><a href="{{ breadcrumb.get_slug_link }}">{{ breadcrumb }}</a></li>
            {% endfor %}
        </ol>
    </nav>
{% endblock %}

{% block sidebar %}
    <div class="list-group">
    {% full_tree_for_model CaptainConsole.Category as gs %}
    {% for node, structure in gs|tree_info %}
        <a href="/category/{{ node.get_slug_link }}" class="list-group-item">
            {% for a in node.get_ancestors %}>{% endfor %} {{ node }}
        </a>
    {% endfor %}
    </div>
{% endblock %}

{% block content %}
    <h2>Products list</h2>
    <section class="container">
        {% for product in products %}
        
            <!-- Single product cards-->
            <div class="card my-3 mx-3" style="">
                <img src="" class="card-img-top" alt="">
                <div class="card-body">
                    <p class="card-text">
                        <a href="/products/{{product.slug}}" >{{ product.name }}</a>
                        <span class="badge badge-primary">{{ product.price }}$ </span></p>
                </div>
            </div>

        {% endfor %}
    </section>
{% endblock %}