{% extends '../base.html' %}

<!--    Page breadcrumbs (removed)      -->
{% block breadcrumbs %}
{% endblock breadcrumbs %}

<!--    Page content      -->
{% block content %}
<main class="container">
        
    <h2>Make an account</h2>

    <section class="container">

        <form method="POST" action="">
            {% csrf_token %}
    
            <!-- USERNAME  -->
            <fieldset class="form-group row">
                <label for="{{ form.username.id_for_label }}" class="col-sm-2 col-form-label">Username:</label>
                {{form.username}}
            </fieldset>
    
            <!-- EMAIL  -->
            <fieldset class="form-group row">
                <label for="{{ form.email.id_for_label }}" class="col-sm-2 col-form-label">Email:</label>
                {{form.email}}
            </fieldset>
    
            <!-- PASSWORD (I have no clue why the input does not accept the style) -->
            <fieldset class="form-group row">
                <label for="{{ form.password1.id_for_label }}" class="col-sm-2 col-form-label">Password:</label>
                {{form.password1}}
            </fieldset>
    
            <fieldset class="form-group row">
                <label for="{{ form.password2.id_for_label }}" class="col-sm-2 col-form-label">Password Confirmation:</label>
                {{form.password2}}
            </fieldset>
            
            <!-- SUMBIT (I have no clue why it does not accept the style -->
            <input type="submit" class="btn btn-success mb-3" name="Create User">
        </form>
    
        <!-- LOGIN WITH EXISTING ACCOUNT -->
        <a href="/login" class="btn btn-primary mb-3">Already have an account?</a>
    </section>

</main>
{% endblock content %}
