{% extends '../base.html' %}

<h2>Make an account</h2>

<form method="POST" action="">
    <!--það þarf síðan að færa {% csrf_token %} inní htmlið til að það matchi -->
    {% csrf_token %}
    {{form.username.lable}}
    {{form.username}}
    
    {{form.email.lable}}
    {{form.email}}

    {{form.password1.lable}}
    {{form.password1}}

    {{form.password2.lable}}
    {{form.password2}}


    <input type="submit" name="Create User">
</form>

<!-- væri til í að hafa neðst "already have an account?" login here takka-->