{% extends '../base.html' %}

<!--    Page breadcrumbs (removed)      -->
{% block breadcrumbs %}
{% endblock breadcrumbs %}

<style>
    .profile-pic{
        max-width: 200px;
        max-height: 200px;
        margin: 0 auto;
        border-radius: 50%;
    }
</style>

<br>  
<!--    Page content      -->
{% block content %}
<div class="container">
        
    <div class="d-flex align-items-center justify-content-around flex-column py-3">
        <!-- IMAGE -->

            <h2 class="h3">Full name</h2>
            <div class="my-3">
                <img style="height:300px; width:300px" class="rounded-circle img-thumbnail" src="{{ userinfo.profile_picture.url }}" >
            </div>
        <!-- INPUT -->
        <a class="btn btn-primary" data-toggle="collapse" href="#user_profile" role="button" aria-expanded="false" aria-controls="user_profile">
        Edit profile
        
        </a>
        <section class="collapse"  id="user_profile">
            <form method="POST">
                {% csrf_token %}
                {{ pass }}     
                <input class="btn btn-success" type="submit" name="update-info" value="Update password">
            </form>
            <form method="POST" action="{% url 'edit-email' %}">
                {% csrf_token %}
                {{ email }}
                <input class="btn btn-success" type="submit" name="update-info" value="Update email">
            </form>
            <form method="POST" action="{% url 'edit-image' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ image }}
                <input class="btn btn-success" type="submit" name="update-info" value="Update Image">
            </form>
        </section>
    </div>
</div>

{% endblock content %}